{{#partial "content"}}
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6"></div>
        <div class="col-12 col-md-6">
          <div class="float-none float-md-end">
            <div class="card text-white">
              <div class="card-body">
                <h1 class="fs-regular">Wildlife Sighting Tracker</h1>
                <hr>
                <p class="para">For all your needs tracking animals information such as their health, <br> their age,
                  whether they are endangered or thriving, their species <br> and sighting inforamtion
                  in terms of location.
                </p>
                <div class="mt-4">
                  <a href="/home.html">
                    <button class="btn btn-success">Get Started</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/partial}}
{{>layout.hbs}}