{{#partial "content"}}
  <section id="sightings">
    <div class="container">
      <div>
        <a href="/sightings/new">
          <button class="btn btn-success mt-4 mb-3">
            <i class="fa-solid fa-circle-plus"></i>
            Add sighting
          </button>
        </a>
      </div>

      <h2 class="mt-5">Sightings</h2>
      <table class="table table-responsive table-striped table-hover my-5">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Reported date</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each sightings}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>
              {{formattedReportedDate}}
            </td>
            <td>
              <a href="/sightings/{{id}}">
                <button class="btn btn-success">
                  <i class="fa-solid fa-eye"></i>
                  View
                </button>
              </a>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </section>
{{/partial}}
{{>layout2.hbs}}